In [10]:
from scipy.stats import t

In [3]:
import numpy as np

In [4]:
mu=4000
sample_mean=3050
std=125
n=25

before we do the hypothesis testing ,we need to look at the sample size and determine if the test is a ztest or test based on the sample size.looking atthe size of the sample w can say that it is less than 30 so it's a ***ttest*** .

## giving the test of hypothesis
•	H(0)=mu=$4000(: W = $1,000 + $5X)
•	H(1)=mu>$4000
here we say that the in alternate hypothesis weekly cost exceeds our operating cost model which is $4000 
but null hypothesis says that it is equal to the operating cost.

***To calculate the ttest we can do it with the formula (sample mean-mu)/standard error mean***

In [5]:
sem=std/np.sqrt(n)

In [6]:
ttest=(sample_mean-mu)/sem

In [7]:
ttest

-38.0

In [8]:
df=n-1

now here we have gotten -38 as the t value which is way different from the value we were expecting ,which it should be in the range of -2 to +2,but here we got -38 which indicates the problem with the given sple mean and population meana.we notice that our sample mean is less than the population mean ,which contradicts the null hypothesis and that is why we have the extreme value to the left.

In [42]:
alpha=0.05

In [43]:
critical_value=t.ppf(1-alpha,df)

In [44]:
critical_value

1.7108820799094275

## tvalue < critical value,we do not reject HO
But this extreme deviation of tvalue being extremely lower than our critical value we cannot confidently say than we do not reject null hypothesis ,therefore we move on to the other tests where we can confidently say that we do not accept/accept null hypothesis.
# we move on to other statistical test like pvalue then to reject or accept null hypothesis

In [9]:
#WE WILL NOW FIND OUT OUR PVALUE

here before we find out pvalue we need to see if this is a two tailed,left tailed or right tailed test,with our hypothesis statement we can say that it is pointing towards a right tailed test.but python can find that too for  us with the below applied method.

In [19]:
ho=mu<=4000#this is our null hypothesis
h1=mu>4000 #this is our alternate hypothesis

In [35]:
if tail == h1:
    tail = "right"
elif tail == ho:
    tail = "left"
else:
    tail = "two"

if tail == "two":
    p_value = t.sf(np.abs(ttest), df) * 2  # for two-tailed test
elif tail == "left":
    p_value = t.cdf(ttest, df)  # for left-tailed test
elif tail == "right":
    p_value = t.sf(ttest, df)  # for right-tailed test
else:
    raise ValueError("Invalid tail argument. Use 'two', 'left', or 'right'.")

print("P-value:", p_value)

P-value: 5.921562161635581e-23

In [37]:
Pvalue=5.921562161635581e-23

In [40]:
if Pvalue<0.05:
    print("this pvalue of ",Pvalue,"rejects the null hypothesis and accepts alternate hypothesis as there is a huge statistical difference")
elif Pvalue>0.05:
    print("this pvalue of ",Pvalue,"rejects the alternate hypothesis and accepts null hypothesis as there is no huge statistical difference")

this pvalue of  5.921562161635581e-23 rejects the null hypothesis and accepts alternate hypothesis as there is a huge statistical difference

### with the aove tests we can confidently reject the null hypothesis 
# CONCLUSION
we can confidently say that our population mean is greater than 4000 ,which means that there was a weekly higher operational cost seen as compared to the model provided by the Bombay hospitality Ltd to the rstaurants  .